*~
*.000
*.[0-9.*]*
*.a
*.app
/*/bin/
*.bin
/*/bin64/
*.CF3
*.class
# Compiled Static libraries
core
core.*
CMakeFiles
CMakeCache.txt
*.cmake
*.core/spec.c*
*.core/specs.c*
# Ctags file
.*.d
*.d
*.dbg
Debug/*
*.dep
dialog_settings.xml
*.dll
*.dylib
# eclipse
*.exe
# Executables
*.exp
# Fortran module files
*.gch
history.version
*History.xml
*.htm
*.IA[B-D]
*.idb
*.IM[B-D]
invalidArchivesCache
*.la
*.lai
language.settings.xml
#.lastbuildstate
*.lib
*.lo
*.location
*.lock
*.errlog
*.manifest
*.markers
*.mod
*.ncb
nonChainingJarsCache
*.o
*.obj
objects.mk
OpenTypeHistory.xml
org.eclipse*.resources
*.os
*.out
out/*
*.output
*.pch
*.pdb
*.pdom
*.PFI
*.P[O-S]
*.prefs
properties.index
properties.version
*.pyc
Release/*
*.res
*.sc
*.SearchResults
*.slo
*.so
*.so.[0-9.]*
sources.mk
subdir.mk
*.suo
*.swp
symbols
*.tags
*.tlog
*.tmp
unsuccessfulbuild
*.user
variables*tainers.dat
version.ini
*.WK3
workbench.xml
workingsets.xml
